<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<beans profile="!prod">
		<util:properties id="volumeServiceProperty" location="classpath:system/predsrch/volumeServiceConfig.properties" />
		
		<!-- Job for predictive search -->
		<bean id="loadDataJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
			<property name="targetObject" ref="schedulerService" />
			<property name="targetMethod" value="refreshData" />
 			<!-- <property name="concurrent" value="false" /> -->
		</bean>

		<bean id="loadDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
			<property name="jobDetail" ref="loadDataJob" />
			<property name="cronExpression" value="${predsrch.schedule.loadDataTime}" />
			<property name="timeZone" ref="timeZone" />
		</bean>
		<!-- Job for predictive search -->
	</beans>

	<beans profile="prod">
		<util:properties id="volumeServiceProperty" location="classpath:system/predsrch/volumeServiceConfig-prod.properties" />

		<!-- Job for predictive search -->
		<bean id="loadDataJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
			<property name="targetObject" ref="schedulerService" />
			<property name="targetMethod" value="refreshData" />
 			<!-- <property name="concurrent" value="false" /> -->
		</bean>

		<bean id="loadDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
			<property name="jobDetail" ref="loadDataJob" />
			<property name="cronExpression" value="${predsrch.schedule.loadDataTime}" />
			<property name="timeZone" ref="timeZone" />
		</bean>
		<!-- Job for predictive search -->
	</beans>
	
</beans> 