<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<aop:config>
		<aop:pointcut id="bmcPointcutGlobalException"
			expression="execution(public * com.hhhh.group.secwealth.mktdata.common.exception.GlobalExceptionHandler.*(..))" />
		
		<aop:pointcut id="bmcPointcutVolumeService"
			expression="execution(public * com.hhhh.group.secwealth.mktdata.predsrch.svc.service.impl.VolumeServiceImpl.copyToLocalData(..))" />
			
		<aop:pointcut id="bmcPointcutVerifyFilesService"
			expression="execution(public * com.hhhh.group.secwealth.mktdata.predsrch.svc.service.impl.VerifyFilesServiceImpl.verifyFiles(..))" />

		<aop:aspect id="bmcAspect" ref="bmcAdvisorBySite" order="10">
			<aop:after-returning pointcut-ref="bmcPointcutGlobalException"
				returning="event" method="afterReturning" />
			
			<aop:after-throwing pointcut-ref="bmcPointcutVolumeService"
				throwing="e" method="afterThrowing" />
					
			<aop:after-throwing pointcut-ref="bmcPointcutVerifyFilesService"
				throwing="e" method="afterThrowing" />
		</aop:aspect>
	</aop:config>

</beans>