<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="timeZone" class="java.util.TimeZone" factory-method="getTimeZone">
		<constructor-arg value="${predsrch.timeZone}" />
	</bean>
	
	<bean id="springBeanJobFactory" class="org.springframework.scheduling.quartz.SpringBeanJobFactory" />
	
	<bean id="simpleThreadPoolTaskExecutor" class="org.springframework.scheduling.quartz.SimpleThreadPoolTaskExecutor">
		<property name="makeThreadsDaemons" value="true" />
		<property name="threadCount" value="1" />
		<property name="threadNamePrefix" value="simpleTaskExecutor" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
	</bean>
	
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- lazy-init="false" -->
		<property name="triggers">
			<list>
				<ref bean="loadDataTrigger" />
			</list>
		</property>
		<property name="jobFactory" ref="springBeanJobFactory" />
		<property name="taskExecutor" ref="simpleThreadPoolTaskExecutor" />
	</bean>
</beans> 