PROD_CDE,0,16
PROD_NAME,16,80
FUND_CDE,96,10
FUND_NAME,106,50
PRFM_UPDT_DT,156,8
PRFM_1MO_SGN,164,1
PRFM_1MO_PCT,165,7
PRFM_6MO_SGN,172,1
PRFM_6MO_PCT,173,7
PRFM_1YR_SGN,180,1
PRFM_1YR_PCT,181,7
PRFM_3YR_SGN,188,1
PRFM_3YR_PCT,189,7
PRFM_5YR_SGN,196,1
PRFM_5YR_PCT,197,7
PRFM_CUM_SGN,204,1
PRFM_CUM_PCT,205,7
PRFM_EFF_DT,212,8
DIS_INDC,220,1



