CTRY_CDE,0,2
ORGN_CDE,2,4
PROD_TYPE_CDE,6,15
PROD_SUBTP_CDE,21,30
PROD_CDE,51,30
PROD_NAME,81,100
SHRT_NAME,181,30
STAT_CDE,211,1
CRNCY_CDE,212,3
TENURE_TYPE,215,1
TENURE,216,3
RISK_LVL_CDE,219,1
APPENDIX_TYPE_CODE,220,6
CONV_CDE,226,1
RTRN_INTRM_PCT_1,227,12
PYMT_INTRM_RTRN_DT_1,239,8
RTRN_INTRM_PCT_2,247,12
PYMT_INTRM_RTRN_DT_2,259,8
RTRN_INTRM_PCT_3,267,12
PYMT_INTRM_RTRN_DT_3,279,8
RTRN_INTRM_PCT_4,287,12
PYMT_INTRM_RTRN_DT_4,299,8
RTRN_INTRM_PCT_5,307,12
PYMT_INTRM_RTRN_DT_5,319,8
RTRN_INTRM_PCT_6,327,12
PYMT_INTRM_RTRN_DT_6,339,8
RTRN_INTRM_PCT_7,347,12
PYMT_INTRM_RTRN_DT_7,359,8
RTRN_INTRM_PCT_8,367,12
PYMT_INTRM_RTRN_DT_8,379,8
RTRN_INTRM_PCT_9,387,12
PYMT_INTRM_RTRN_DT_9,399,8
RTRN_INTRM_PCT_10,407,12
PYMT_INTRM_RTRN_DT_10,419,8
RTRN_INTRM_PCT_11,427,12
PYMT_INTRM_RTRN_DT_11,439,8
RTRN_INTRM_PCT_12,447,12
PYMT_INTRM_RTRN_DT_12,459,8
RTRN_INTRM_PCT_13,467,12
PYMT_INTRM_RTRN_DT_13,479,8
RTRN_INTRM_PCT_14,487,12
PYMT_INTRM_RTRN_DT_14,499,8
RTRN_INTRM_PCT_15,507,12
PYMT_INTRM_RTRN_DT_15,519,8
RTRN_INTRM_PCT_16,527,12
PYMT_INTRM_RTRN_DT_16,539,8
RTRN_INTRM_PCT_17,547,12
PYMT_INTRM_RTRN_DT_17,559,8
RTRN_INTRM_PCT_18,567,12
PYMT_INTRM_RTRN_DT_18,579,8
RTRN_INTRM_PCT_19,587,12
PYMT_INTRM_RTRN_DT_19,599,8
RTRN_INTRM_PCT_20,607,12
PYMT_INTRM_RTRN_DT_20,619,8
RTRN_INTRM_PCT_21,627,12
PYMT_INTRM_RTRN_DT_21,639,8
RTRN_INTRM_PCT_22,647,12
PYMT_INTRM_RTRN_DT_22,659,8
RTRN_INTRM_PCT_23,667,12
PYMT_INTRM_RTRN_DT_23,679,8
RTRN_INTRM_PCT_24,687,12
PYMT_INTRM_RTRN_DT_24,699,8
INTEREST_RATE,707,14
CRNCY_LINK_CDE,721,3
LAUNCH_DT,724,8
MAT_DT,732,8
PRD_MKT_START_DT,740,8
PRD_MKT_END_DT,748,8
INVST_INIT_MIN_AMT,756,16
YLD_ANNL_MIN_PCT,772,10
ALLOW_ERDM_IND,782,1
PRD_ERDM_DALW_TEXT,783,3
ERDM_PCT,786,10
OFFER_TYPE_CDE,796,15
OVDFT_SEC_PCT,811,14
BONUS_RATE_TYPE,825,1
BONUS_DATE_TYPE,826,1
LAUNCH_STUS,827,1
END_OF_RECORD_INDICATOR,828,1




