FUND_EXT_CDE,0,5
CRNCY_CDE,5,3
BID_DLY_PRC_AMT,8,10
OFFER_DLY_PRC_AMT,18,10
NAV_DLY_PRC_AMT,28,10
PRC_EFF_DT,38,9
BCHMK_DT,47,9
PRFM_1YR_PCT,56,7
PRFM_3YR_PCT,63,7
PRFM_5YR_PCT,70,7
BCHMK_1YR_PCT,77,7
BCHMK_3YR_PCT,84,7
BCHMK_5YR_PCT,91,7
PRFM_6MO_PCT,98,7
PRFM_SNC_LNCH_PCT,105,8
PRFM_YTD_PCT,113,7
BCHMK_6MO_PCT,120,7
BCHMK_SNC_LNCH_PCT,127,8
BCHMK_YTD_PCT,135,7
RISK_LVL_CDE,142,1
MKT_INVST_CDE,143,3
SECT_CDE,146,5
LAUNCH_DT,275,9
BCHMK_NAME,160,80
SPEC_FUND_IND,240,1
PROD_SUBTP_CDE,241,5
SLST_1_IND,246,1
DEAL_NEXT_DT,247,9
NXT_SCRIB_CTOFF_DT,256,9
AMCM_IND,265,1
SLST_EFF_1_DT,266,9
OFFER_START_DT,275,9
OFFER_START_TM,284,4
OFFER_END_DT,288,9
OFFER_END_TM,297,4
MIP_IND,301,1
FUND_CLASS_CDE,302,2
SWTCH_GP,304,3	
STAT_CDE,307,1			
DVD_FLG,308,1		
DVD_MTHD,309,1 	
ALOW_CAS_CHNL_IND,310,1
ALOW_PFSFP_CHNL_IND,311,1
ALOW_PFSPD_CHNL_IND,312,1
ALOW_PWSPB_CHNL_IND,313,1
ALOW_PWSCB_CHNL_IND,314,1
ALOW_PIB_CHNL_IND,315,1	
ALOW_WEX_CHNL_IND,316,1	
ALOW_IVRS_CHNL_IND,317,1	
PROD_CDE,318,12
FUND_HOUSE_CDE,330,10
SHRT_NAME,340,20
INVST_INIT_MIN_CCY,360,3
INVST_INIT_MIN_AMT,363,12
INVST_ICT_MIN_AMT,375,12
RDEM_MIN_AMT,387,12
UNIT_ARDM_MIN_NUM,399,7
FUND_ARDM_MIN_AMT,406,12
INVST_MIP_MIN_AMT,418,12
INVST_INCR_MIP_AMT,430,12
FN_MIP_RDM_MIN_AMT,442,12
UT_MIP_ARD_MIN_NUM,454,7
UT_MIP_ARD_MIN_AMT,461,12
CHRG_INIT_PCT,473,5
DSCNT_MAX_PCT,478,6
MAT_DT,484,9
NXT_HLDAY_DT,493,9
NXT_RDEM_CTOFF_DT,502,9
SCHEM_CHRG_CDE,511,3
DCML_PLACE_TRADE_UNIT_NUM,514,1
dummy_CHRG_MAX_INIT_PCT,515,6
DIVID_FREQ,521,2
CLEAR_FUND_IND,523,1
GTE_FUND_IND,524,1
PROD_LONG_NAME,525,70
ANN_MGMT_FEE_PCT,595,6
ISIN_CDE,601,20
SET_LEAD_TIME_SUB,621,2
SET_LEAD_TIME_RDM,623,2
SWEEP_INVEST_FUND_IND,625,1
CUTOFF_TM,626,4
IN_DEAL_BEF_DT,630,8
IN_SCRIB_STL_BEF_DT,638,8
IN_REDEMP_STL_BEF_DT,646,8
IN_DEAL_AFT_DT,654,8
IN_SCRIB_STL_AFT_DT,662,8
IN_REDEMP_STL_AFT_DT,670,8
INFC_DT,678,8
GBA_ACCT_RDB,686,1
GNR_ACCT_RDB,687,1
