dummy Fund_Code
Mstar_PerformanceId
dummy_ISIN
dummy_FundCurrency
FundBaseCurrency
dummy_CatFirstLevel
dummy_CatSecondLevel
dummy_CatThirdLevel
dummy_CatFourthLevel
dummy_FundName_EN
dummy_FundName_CHT
dummy_FundName_CHS
dummy_FUNDCLASSCURRENCY_NAME_ENG
dummy_FUNDCLASSCURRENCY_NAME_CHT
dummy_FUNDCLASSCURRENCY_NAME_CHS
dummy_PrimaryShareClass
dummy_FunsOfTheQuarters
dummy_NoSubscriptionFeeSeries
dummy_TopPerformers
dummy_Bestsellers
dummy_NewFund
Insurance_Link_Investment
dummy_CIES_Funds
dummy_FundLaunchDate
dummy_RiskLevel
dummy_ProspectusLink_EN
dummy_ProspectusLink_CH
dummy_AnnualReportLink_EN
dummy_AnnualReportLink_CH
dummy_SemiAnnualReportLink_EN
dummy_SemiAnnualReportLink_CH
dummy_FactsheetLink_EN
dummy_FactsheetLink_CH
dummy_PreferentialInitialChargeOffer_EN
dummy_PreferentialInitialChargeOffer_CH
dummy_RiskDisclosureBox_EN
dummy_RiskDisclosureBox_CH
dummy_FundStatus
dummy_Fund House_Eng
dummy_Fund House_Chi
dummy_Fund House_ChiSimplified
Suppress UTB