<html lang="en" th:remove="tag">
<th:block th:fragment="export(otherCsvInfos)" th:with="commonCsvInfos=${#csvs.parse(
            'CTRY_CDE: product.get(''ctryRecCde'')',
            'ORGN_CDE: product.get(''grpMembrRecCde'')',
            'PROD_TYPE_CDE: product.get(''prodTypeCde'')',
            'PROD_TYPE_DESC: #refDatas.desc(''PRODTYP'',product.get(''prodTypeCde''))',
            'PROD_TYPE_PLL_DESC: #refDatas.pllDesc(''PRODTYP'',product.get(''prodTypeCde''))',
            'PROD_TYPE_SLL_DESC: #refDatas.sllDesc(''PRODTYP'',product.get(''prodTypeCde''))',
            'PROD_SUBTP_CDE: product.get(''prodSubtpCde'')',
            'PROD_SUBTP_DESC: #refDatas.desc(''PRODSUBTP'',product.get(''prodSubtpCde''))',
            'PROD_SUBTP_PLL_DESC: #refDatas.pllDesc(''PRODSUBTP'',product.get(''prodSubtpCde''))',
            'PROD_SUBTP_SLL_DESC: #refDatas.sllDesc(''PRODSUBTP'',product.get(''prodSubtpCde''))',
            'PROD_CDE: product.get(''prodAltPrimNum'')',
            'INT_PROD_ID: product.get(''prodCde'')',
            'PROD_NAME: product.get(''prodName'')',
            'PROD_PLL_NAME: true==prodNameControl ? #strings.defaultString(product.get(''prodPllName''), product.get(''prodName'')) : product.get(''prodPllName'')',
            'PROD_SLL_NAME: product.get(''prodSllName'')',
            'SHRT_NAME: product.get(''prodShrtName'')',
            'SHRT_PLL_NAME: product.get(''prodShrtPllName'')',
            'SHRT_SLL_NAME: product.get(''prodShrtSllName'')',
            'PROD_DESC: product.get(''prodDesc'')',
            'PROD_PLL_DESC: product.get(''prodPllDesc'')',
            'PROD_SLL_DESC: product.get(''prodSllDesc'')',
            'ASET_CLASS_CDE_1: product.get(''asetClassCde'')',
            'ASET_CLASS_CDE_1_DESC: #refDatas.desc(''AC'', product.get(''asetClassCde''))',
            'ASET_CLASS_CDE_1_PLL_DESC: #refDatas.pllDesc(''AC'', product.get(''asetClassCde''))',
            'ASET_CLASS_CDE_1_SLL_DESC: #refDatas.sllDesc(''AC'', product.get(''asetClassCde''))',
            'ASET_CLASS_CDE_2: ''''',
            'ASET_CLASS_CDE_2_DESC: ''''',
            'ASET_CLASS_CDE_2_PLL_DESC: ''''',
            'ASET_CLASS_CDE_2_SLL_DESC: ''''',
            'ASET_CLASS_CDE_3: ''''',
            'ASET_CLASS_CDE_3_DESC: ''''',
            'ASET_CLASS_CDE_3_PLL_DESC: ''''',
            'ASET_CLASS_CDE_3_SLL_DESC: ''''',
            'UDLY_ASET_CDE_1: #products.asetUndlCde(product, 1)',
            'UDLY_ASET_CDE_1_DESC: #refDatas.desc(''UA'', #products.asetUndlCde(product, 1))',
            'UDLY_ASET_CDE_1_PLL_DESC: #refDatas.pllDesc(''UA'', #products.asetUndlCde(product, 1))',
            'UDLY_ASET_CDE_1_SLL_DESC: #refDatas.sllDesc(''UA'', #products.asetUndlCde(product, 1))',
            'UDLY_ASET_CDE_2: #products.asetUndlCde(product, 2)',
            'UDLY_ASET_CDE_2_DESC: #refDatas.desc(''UA'', #products.asetUndlCde(product, 2))',
            'UDLY_ASET_CDE_2_PLL_DESC: #refDatas.pllDesc(''UA'', #products.asetUndlCde(product, 2))',
            'UDLY_ASET_CDE_2_SLL_DESC: #refDatas.sllDesc(''UA'', #products.asetUndlCde(product, 2))',
            'UDLY_ASET_CDE_3: #products.asetUndlCde(product, 3)',
            'UDLY_ASET_CDE_3_DESC: #refDatas.desc(''UA'', #products.asetUndlCde(product, 3))',
            'UDLY_ASET_CDE_3_PLL_DESC: #refDatas.pllDesc(''UA'', #products.asetUndlCde(product, 3))',
            'UDLY_ASET_CDE_3_SLL_DESC: #refDatas.sllDesc(''UA'', #products.asetUndlCde(product, 3))',
            'STAT_CDE: product.get(''prodStatCde'')',
            'STAT_CDE_DESC: #refDatas.desc(''PRDSTUS'', product.get(''prodStatCde''))',
            'STAT_CDE_PLL_DESC: #refDatas.pllDesc(''PRDSTUS'', product.get(''prodStatCde''))',
            'STAT_CDE_SLL_DESC: #refDatas.sllDesc(''PRDSTUS'', product.get(''prodStatCde''))',
            'CRNCY_CDE: product.get(''ccyProdCde'')',
            'CRNCY_CDE_DESC: #refDatas.desc(''CCY'', product.get(''ccyProdCde''))',
            'CRNCY_CDE_PLL_DESC: #refDatas.pllDesc(''CCY'', product.get(''ccyProdCde''))',
            'CRNCY_CDE_SLL_DESC: #refDatas.sllDesc(''CCY'', product.get(''ccyProdCde''))',
            'CRNCY_TRADE_CDE_1: ''''',
            'CRNCY_TRADE_CDE_1_DESC: ''''',
            'CRNCY_TRADE_CDE_1_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_1_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_2: ''''',
            'CRNCY_TRADE_CDE_2_DESC: ''''',
            'CRNCY_TRADE_CDE_2_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_2_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_3: ''''',
            'CRNCY_TRADE_CDE_3_DESC: ''''',
            'CRNCY_TRADE_CDE_3_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_3_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_4: ''''',
            'CRNCY_TRADE_CDE_4_DESC: ''''',
            'CRNCY_TRADE_CDE_4_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_4_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_5: ''''',
            'CRNCY_TRADE_CDE_5_DESC: ''''',
            'CRNCY_TRADE_CDE_5_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_5_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_6: ''''',
            'CRNCY_TRADE_CDE_6_DESC: ''''',
            'CRNCY_TRADE_CDE_6_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_6_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_7: ''''',
            'CRNCY_TRADE_CDE_7_DESC: ''''',
            'CRNCY_TRADE_CDE_7_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_7_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_8: ''''',
            'CRNCY_TRADE_CDE_8_DESC: ''''',
            'CRNCY_TRADE_CDE_8_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_8_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_9: ''''',
            'CRNCY_TRADE_CDE_9_DESC: ''''',
            'CRNCY_TRADE_CDE_9_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_9_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_10: ''''',
            'CRNCY_TRADE_CDE_10_DESC: ''''',
            'CRNCY_TRADE_CDE_10_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_10_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_11: ''''',
            'CRNCY_TRADE_CDE_11_DESC: ''''',
            'CRNCY_TRADE_CDE_11_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_11_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_12: ''''',
            'CRNCY_TRADE_CDE_12_DESC: ''''',
            'CRNCY_TRADE_CDE_12_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_12_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_13: ''''',
            'CRNCY_TRADE_CDE_13_DESC: ''''',
            'CRNCY_TRADE_CDE_13_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_13_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_14: ''''',
            'CRNCY_TRADE_CDE_14_DESC: ''''',
            'CRNCY_TRADE_CDE_14_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_14_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_15: ''''',
            'CRNCY_TRADE_CDE_15_DESC: ''''',
            'CRNCY_TRADE_CDE_15_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_15_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_16: ''''',
            'CRNCY_TRADE_CDE_16_DESC: ''''',
            'CRNCY_TRADE_CDE_16_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_16_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_17: ''''',
            'CRNCY_TRADE_CDE_17_DESC: ''''',
            'CRNCY_TRADE_CDE_17_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_17_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_18: ''''',
            'CRNCY_TRADE_CDE_18_DESC: ''''',
            'CRNCY_TRADE_CDE_18_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_18_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_19: ''''',
            'CRNCY_TRADE_CDE_19_DESC: ''''',
            'CRNCY_TRADE_CDE_19_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_19_SLL_DESC: ''''',
            'CRNCY_TRADE_CDE_20: ''''',
            'CRNCY_TRADE_CDE_20_DESC: ''''',
            'CRNCY_TRADE_CDE_20_PLL_DESC: ''''',
            'CRNCY_TRADE_CDE_20_SLL_DESC: ''''',
            'RISK_LVL_CDE: product.get(''riskLvlCde'')',
            'RISK_LVL_DESC: #refDatas.desc(''RISKLVL'', product.get(''riskLvlCde''))',
            'RISK_LVL_PLL_DESC: #refDatas.pllDesc(''RISKLVL'', product.get(''riskLvlCde''))',
            'RISK_LVL_SLL_DESC: #refDatas.sllDesc(''RISKLVL'', product.get(''riskLvlCde''))',
            'PRD_PROD_CDE: product.get(''prdProdCde'')',
            'PRD_PROD_DESC: #refDatas.desc(''TEN'', product.get(''prdProdCde''))',
            'PRD_PROD_PLL_DESC: #refDatas.pllDesc(''TEN'', product.get(''prdProdCde''))',
            'PRD_PROD_SLL_DESC: #refDatas.sllDesc(''TEN'', product.get(''prdProdCde''))',
            'PRD_PROD_NUM: product.get(''prdProdNum'')',
            'TENOR_DAY_NUM: product.get(''termRemainDayCnt'')',
            'LAUNCH_DT: #dates.format(product.get(''prodLnchDt''), ''yyyyMMdd'')',
            'MAT_DT: #dates.format(product.get(''prodMturDt''), ''yyyyMMdd'')',
            'MKT_INVST_CDE: product.get(''mktInvstCde'')',
            'MKT_INVST_CDE_DESC: #refDatas.desc(''IVSTMKT'', product.get(''mktInvstCde''))',
            'MKT_INVST_CDE_PLL_DESC: #refDatas.pllDesc(''IVSTMKT'', product.get(''mktInvstCde''))',
            'MKT_INVST_CDE_SLL_DESC: #refDatas.sllDesc(''IVSTMKT'', product.get(''mktInvstCde''))',
            'SECT_CDE: product.get(''sectInvstCde'')',
            'SECT_CDE__DESC: #refDatas.desc(''ISEC'', product.get(''sectInvstCde''))',
            'SECT_CDE_PLL_DESC: #refDatas.pllDesc(''ISEC'', product.get(''sectInvstCde''))',
            'SECT_CDE_SLL_DESC: #refDatas.sllDesc(''ISEC'', product.get(''sectInvstCde''))',
            'ALOW_BUY_IND: product.get(''allowBuyProdInd'')',
            'ALOW_SELL_IND: product.get(''allowSellProdInd'')',
            'ALOW_BUY_UNIT_IND: product.get(''allowBuyUtProdInd'')',
            'ALOW_BUY_AMT_IND: product.get(''allowBuyAmtProdInd'')',
            'ALOW_SELL_UNIT_IND: product.get(''allowSellUtProdInd'')',
            'ALOW_SELL_AMT_IND: product.get(''allowSellAmtProdInd'')',
            'ALOW_MIP_IND: product.get(''allowSellMipProdInd'')',
            'ALOW_MIP_UNIT: product.get(''allowSellMipUtProdInd'')',
            'ALOW_MIP_AMT: product.get(''allowSellMipAmtProdInd'')',
            'ALOW_SI_IND: product.get(''allowSwInProdInd'')',
            'ALOW_SI_UNIT: product.get(''allowSwInUtProdInd'')',
            'ALOW_SI_AMT: product.get(''allowSwInAmtProdInd'')',
            'ALOW_SO_IND: product.get(''allowSwOutProdInd'')',
            'ALOW_SO_UNIT: product.get(''allowSwOutUtProdInd'')',
            'ALOW_SO_AMT: product.get(''allowSwOutAmtProdInd'')',
            'INCOME_IND: product.get(''incmCharProdInd'')',
            'CAPITAL_GURN_IND: product.get(''cptlGurntProdInd'')',
            'YLD_EHANCE_IND: product.get(''yieldEnhnProdInd'')',
            'GROWTH_IND: product.get(''grwthCharProdInd'')',
            'SRCH_PRTY_NUM: product.get(''prtyProdSrchRsultNum'')',
            'SLST_1_IND: #products.listProd(product, ''SLT_1'').isEmpty() ? ''N'' : ''Y''',
            'SLST_EFF_1_DT: #dates.format(#products.listProd(product, ''SLT_1'').get(''prodEffSlstDt''), ''yyyyMMdd'')',
            'SLST_2_IND: #products.listProd(product, ''SLT_2'').isEmpty() ? ''N'' : ''Y''',
            'SLST_EFF_2_DT: #dates.format(#products.listProd(product, ''SLT_2'').get(''prodEffSlstDt''), ''yyyyMMdd'')',
            'SLST_3_IND: #products.listProd(product, ''SLT_3'').isEmpty() ? ''N'' : ''Y''',
            'SLST_EFF_3_DT: #dates.format(#products.listProd(product, ''SLT_3'').get(''prodEffSlstDt''), ''yyyyMMdd'')',
            'MKT_INFO_IND: product.get(''availMktInfoInd'')',
            'AVG_PRD_RTN: #doubles.stripTrailingZeros(product.get(''prdRtrnAvgNum''))',
            'AVE_VOLAT: #doubles.stripTrailingZeros(product.get(''rtrnVoltlAvgPct''))',
            'SUB_TYPE_IND: product.get(''dmyProdSubtpRecInd'')',
            'PRC_DIVR_NUM: #doubles.stripTrailingZeros(product.get(''divrNum''))',
            'MK_TO_MKT_IND: product.get(''mrkToMktInd'')',
            'ADD_INFO: product.get(''prodNarrText'','''').replace(''\n'','''').replace(''&#xd\\;'','''')',
            'ADD_PLL_INFO: product.getEmbedded({''narr'',''prodNarrPllText''},'''').replace(''\n'','''').replace(''&#xd\\;'','''')',
            'ADD_SLL_INFO: product.getEmbedded({''narr'',''prodNarrSllText''},'''').replace(''\n'','''').replace(''&#xd\\;'','''')',
            'NATURE_CDE: #products.natureCde(product)',
            'CREAT_DT: #dates.format(product.get(''recCreatDtTm''), ''yyyyMMdd'')',
            'CREAT_TM: #dates.format(product.get(''recCreatDtTm''), ''hhmmss'')',
            'UPDT_LAST_DT: #dates.format(product.get(''recUpdtDtTm''), ''yyyyMMdd'')',
            'UPDT_LAST_TM: #dates.format(product.get(''recUpdtDtTm''), ''hhmmss'')'
            )},
            udfCsvInfos=${#csvs.parse(
            'UDF_01: #udfMapping.udf(product, ''UDF_01'')',
            'UDF_02: #udfMapping.udf(product, ''UDF_02'')',
            'UDF_03: #udfMapping.udf(product, ''UDF_03'')',
            'UDF_04: #udfMapping.udf(product, ''UDF_04'')',
            'UDF_05: #udfMapping.udf(product, ''UDF_05'')',
            'UDF_06: #udfMapping.udf(product, ''UDF_06'')',
            'UDF_07: #udfMapping.udf(product, ''UDF_07'')',
            'UDF_08: #udfMapping.udf(product, ''UDF_08'')',
            'UDF_09: #udfMapping.udf(product, ''UDF_09'')',
            'UDF_10: #udfMapping.udf(product, ''UDF_10'')',
            'UDF_11: #udfMapping.udf(product, ''UDF_11'')',
            'UDF_12: #udfMapping.udf(product, ''UDF_12'')',
            'UDF_13: #udfMapping.udf(product, ''UDF_13'')',
            'UDF_14: #udfMapping.udf(product, ''UDF_14'')',
            'UDF_15: #udfMapping.udf(product, ''UDF_15'')'
           )},
            csvInfo=${#csvs.merge(commonCsvInfos, otherCsvInfos, udfCsvInfos)}
">
<th:block th:if="${isFirst}" th:each="csv: ${csvInfo}">"[(${csv.header})]"[[${csvStat.last} ? '' : ',']]</th:block>
<th:block th:each="product : ${documents}" th:with="
             utTrstInstm=${product.get('utTrstInstm')},
             ccyOptLinkDepst=${product.get('ccyOptLinkDepst')},
             performance=${product.get('performance')},
             benchmark=${product.get('benchmark')},
             eqtyLinkInvst=${product.get('eqtyLinkInvst')},
             stockInstm=${product.get('stockInstm')},
             strucInvstDepst=${product.get('strucInvstDepst')},
             debtInstm=${product.get('debtInstm')}">
<th:block th:each="csv: ${csvInfo}">"[(${__${csv.expr}__})]"[[${csvStat.last} ? '' : ',']]</th:block>
</th:block>
</th:block>
</html>
