<html lang="en" th:remove="tag">
<th:block th:if="${isFirst}">
     HEADERRISHFI_GENERAL_BOND_INTERFACE                    [(${#dates.format(startTime,'yyyyMMddHHmmss')})]
</th:block>
<th:block th:with="eliCsvInfos=${#csvs.parse(
    'SPOMS_PROD_CDE: eqtyLinkInvst.get(''prodExtnlCde'')',
    'SPOMS_PROD_TYCD: eqtyLinkInvst.get(''prodExtnlTypeCde'')',
    'STOCK_CDE: eqtyLinkInvst.get(''undlStock'')?.size() == 1 ? eqtyLinkInvst.get(''undlStock'').get(0).get(''instmUndlCde'') : eqtyLinkInvst.get(''undlStock'')?.size() > 1 ? ''BASKET'' : ''''',
    'STOCK_CDE_TXT: eqtyLinkInvst.get(''instmUndlText'')',
    'INVST_TYPE_CDE: eqtyLinkInvst.get(''eqtyLinkInvstTypeCde'')',
    'TRADE_DT: #dates.format(eqtyLinkInvst.get(''trdDt''), ''yyyyMMdd'')',
    'CRNC_SPRC_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodStrkPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'SPRC_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodStrkPrcAmt''))',
    'SPRC_AMT_DP:  #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodStrkPrcAmt''))',
    'CRNC_SPRC_CALL_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodStrkCallPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'SPRC_CALL_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodStrkCallPrcAmt''))',
    'SPRC_CALL_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodStrkCallPrcAmt''))',
    'CRNC_SPRC_PUT_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodStrkPutPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'SPRC_PUT_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodStrkPutPrcAmt''))',
    'SPRC_PUT_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodStrkPutPrcAmt''))',
    'CRNC_CPRC_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst, ''prodClosePrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'CPRC_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst, ''prodClosePrcAmt''))',
    'CPRC_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodClosePrcAmt''))',
    'CRNC_CPRC_LOW_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodCloseLowPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'CPRC_LOW_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodCloseLowPrcAmt''))',
    'CPRC_LOW_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodCloseLowPrcAmt''))',
    'CRNC_CPRC_UPPR_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodCloseUpprPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'CPRC_UPPR_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodCloseUpprPrcAmt''))',
    'CPRC_UPPR_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodCloseUpprPrcAmt''))',
    'CRNC_CPRC_PUT_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodClosePutPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'CPRC_PUT_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodClosePutPrcAmt''))',
    'CPRC_PUT_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodClosePutPrcAmt''))',
    'CRNC_CPRC_CALL_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodCloseCallPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'CPRC_CALL_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodCloseCallPrcAmt''))',
    'CPRC_CALL_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodCloseCallPrcAmt''))',
    'EXER_PRC_AMT: #doubles.stripTrailingZeros(#products.undlStock(eqtyLinkInvst,''prodExerPrcAmt''))',
    'BUY_AFTR_DSC_PCT: #doubles.stripTrailingZeros(eqtyLinkInvst.get(''dscntBuyPct''))',
    'SELL_AFTR_DSC_PCT: #doubles.stripTrailingZeros(eqtyLinkInvst.get(''dscntSellPct''))',
    'CRNC_BKVN_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'BKVN_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenPrcAmt''))',
    'BKVN_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodBreakEvenPrcAmt''))',
    'CRNC_BKVN_LOW_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenLowPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'BKVN_LOW_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenLowPrcAmt''))',
    'BKVN_LOW_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodBreakEvenLowPrcAmt''))',
    'CRNC_BKVN_UPPR_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenUpprPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'BKVN_UPPR_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenUpprPrcAmt''))',
    'BKVN_UPPR_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodBreakEvenUpprPrcAmt''))',
    'CRNC_BKVN_PUT_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenPutPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'BKVN_PUT_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenPutPrcAmt''))',
    'BKVN_PUT_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodBreakEvenPutPrcAmt''))',
    'CRNC_BKVN_CALL_CDE: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenCallPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'BKVN_CALL_AMT: #doubles.stripDeciaml(#products.undlStock(eqtyLinkInvst,''prodBreakEvenCallPrcAmt''))',
    'BKVN_CALL_AMT_DP: #doubles.decimalPlace(#products.undlStock(eqtyLinkInvst,''prodBreakEvenCallPrcAmt''))',
    'YTM_PCT: #doubles.stripTrailingZeros(eqtyLinkInvst.get(''yieldToMturPct''))',
    'CRNC_DEN_CDE: #doubles.stripDeciaml(eqtyLinkInvst.get(''denAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'DEN_AMT: #doubles.stripDeciaml(eqtyLinkInvst.get(''denAmt''))',
    'DEN_AMT_DP: #doubles.decimalPlace(eqtyLinkInvst.get(''denAmt''))',
    'CRNC_SCRIB_MIN_CDE: #doubles.stripDeciaml(product.get(''invstInitMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'SCRIB_MIN_AMT: #doubles.stripDeciaml(product.get(''invstInitMinAmt''))',
    'SCRIB_MIN_AMT_DP: #doubles.decimalPlace(product.get(''invstInitMinAmt''))',
    'CRNCY_TRAD_MIN_CDE: #doubles.stripDeciaml(eqtyLinkInvst.get(''trdMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'TRAD_MIN_AMT: #doubles.stripDeciaml(eqtyLinkInvst.get(''trdMinAmt''))',
    'TRAD_MIN_AMT_DP: #doubles.decimalPlace(eqtyLinkInvst.get(''trdMinAmt''))',
    'SPRD_CNT: #doubles.stripTrailingZeros(#products.undlStock(eqtyLinkInvst,''sprdCnt''))',
    'AON_IND: eqtyLinkInvst.get(''suptAonInd'')',
    'PYMT_DT: #dates.format(eqtyLinkInvst.get(''pymtDt''), ''yyyyMMdd'')',
    'RTRN_CALC_DT:#dates.format(eqtyLinkInvst.get(''valnDt''), ''yyyy-MM-dd HH:mm:ss.S'')',
    'SHARE_UNIT_CNT: #doubles.stripTrailingZeros(#products.undlStock(eqtyLinkInvst,''instmEntlCnt''))',
    'OFFER_TYPE_CDE: eqtyLinkInvst.get(''offerTypeCde'')',
    'CUST_QUOT_SELL_CNT: #doubles.stripTrailingZeros(eqtyLinkInvst.get(''custSellQtaCnt''))',
    'QUOT_RULE_TYPE_CDE: eqtyLinkInvst.get(''ruleQtaAltmtCde'')',
    'OVDFT_SEC_PCT: #doubles.stripTrailingZeros(product.get(''loanProdOdMrgnPct''))',
    'STL_MAT_DT : #dates.format(eqtyLinkInvst.get(''setlDt''), ''yyyyMMdd'')'
)}
">
    <th:block th:replace="~{COMMON.html :: export (${eliCsvInfos})}"/>
    <th:block th:if="${isLast}">
        TRAILERRISHFI_GENERAL_ELI_INTERFACE                     [(${#numbers.formatInteger(count,7)})]
    </th:block>
</th:block>
</html>
