<html lang="en" th:remove="tag">
<th:block th:if="${isFirst}">
        HEADERRISHFI_GENERAL_SECURITY_INTERFACE                     [(${#dates.format(startTime,'yyyyMMddHHmmss')})]
</th:block>
<th:block th:with="secCsvInfos=${#csvs.parse(
    'NOML_PRC_CCY: #doubles.stripDeciaml(product.get(''prodMktPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'NOML_PRC_AMT: #doubles.stripDeciaml(product.get(''prodMktPrcAmt''))',
    'NOML_PRC_DP: #doubles.decimalPlace(product.get(''prodMktPrcAmt''))',
    'BID_PRC_CCY: #doubles.stripDeciaml(product.get(''prodBidPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'BID_PRC_AMT: #doubles.stripDeciaml(product.get(''prodBidPrcAmt''))',
    'BID_PRC_DP: #doubles.decimalPlace(product.get(''prodBidPrcAmt''))',
    'OFFER_PRC_CCY: #doubles.stripDeciaml(product.get(''prodOffrPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'OFFER_PRC_AMT: #doubles.stripDeciaml(product.get(''prodOffrPrcAmt''))',
    'OFFER_PRC_DP: #doubles.decimalPlace(product.get(''prodOffrPrcAmt''))',
    'PROD_PRC_CHNG_PCT: #doubles.stripTrailingZeros(stockInstm.get(''prodPrcChngPct''))',
    'PROD_PRC_CHNG_CCY: #doubles.stripDeciaml(stockInstm.get(''prodPrcChngAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'PROD_PRC_CHNG_AMT: #doubles.stripDeciaml(stockInstm.get(''prodPrcChngAmt''))',
    'PROD_PRC_CHNG_DP: #doubles.decimalPlace(stockInstm.get(''prodPrcChngAmt''))',
    'PROD_PRC_OPEN_CCY: #doubles.stripDeciaml(stockInstm.get(''prodOpenPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'PROD_PRC_OPEN_AMT: #doubles.stripDeciaml(stockInstm.get(''prodOpenPrcAmt''))',
    'PROD_PRC_OPEN_DP: #doubles.decimalPlace(stockInstm.get(''prodOpenPrcAmt''))',
    'PROD_PRC_MAX_CCY: #doubles.stripDeciaml(stockInstm.get(''prodTdyHighPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'PROD_PRC_MAX_AMT: #doubles.stripDeciaml(stockInstm.get(''prodTdyHighPrcAmt''))',
    'PROD_PRC_MAX_DP: #doubles.decimalPlace(stockInstm.get(''prodTdyHighPrcAmt''))',
    'PROD_PRC_MIN_CCY: #doubles.stripDeciaml(stockInstm.get(''prodTdyLowPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'PROD_PRC_MIN_AMT: #doubles.stripDeciaml(stockInstm.get(''prodTdyLowPrcAmt''))',
    'PROD_PRC_MIN_DP: #doubles.decimalPlace(stockInstm.get(''prodTdyLowPrcAmt''))',
    'SHARE_TRADE_CNT: #doubles.stripTrailingZeros(stockInstm.get(''shareTrdCnt''))',
    'SHARE_TRADE_CCY: #doubles.stripDeciaml(stockInstm.get(''prodTrnvrAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'SHARE_TRADE_AMT: #doubles.stripDeciaml(stockInstm.get(''prodTrnvrAmt''))',
    'SHARE_TRADE_DP: #doubles.decimalPlace(stockInstm.get(''prodTrnvrAmt''))',
    'PROD_PRC_CLOSE_CCY: #doubles.stripDeciaml(product.get(''prodMktPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'PROD_PRC_CLOSE_AMT: #doubles.stripDeciaml(product.get(''prodMktPrcAmt''))',
    'PROD_PRC_CLOSE_DP: #doubles.decimalPlace(product.get(''prodMktPrcAmt''))',
    'PROD_52WK_MAX_CCY: #doubles.stripDeciaml(stockInstm.get(''prodPrc52WeekMaxAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'PROD_52WK_MAX_AMT: #doubles.stripDeciaml(stockInstm.get(''prodPrc52WeekMaxAmt''))',
    'PROD_52WK_MAX_DP: #doubles.decimalPlace(stockInstm.get(''prodPrc52WeekMaxAmt''))',
    'PROD_52WK_MIN_CCY: #doubles.stripDeciaml(stockInstm.get(''prodPrc52WeekMinAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'PROD_52WK_MIN_AMT: #doubles.stripDeciaml(stockInstm.get(''prodPrc52WeekMinAmt''))',
    'PROD_52WK_MIN_DP: #doubles.decimalPlace(stockInstm.get(''prodPrc52WeekMinAmt''))',
    'PE_RATE: #doubles.stripTrailingZeros(stockInstm.get(''prcEarnRate''))',
    'EPS_ANNL_CCY: #doubles.stripDeciaml(stockInstm.get(''earnPerShareAnnlAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'EPS_ANNL_AMT: #doubles.stripDeciaml(stockInstm.get(''earnPerShareAnnlAmt''))',
    'EPS_ANNL_DP: #doubles.decimalPlace(stockInstm.get(''earnPerShareAnnlAmt''))',
    'DIV_PCT: #doubles.stripTrailingZeros(stockInstm.get(''divPct''))',
    'ISIN_CDE: #products.prodAltNum(product,''I'')',
    'MRGN_TRD_IND: stockInstm.get(''mrgnTrdInd'')',
    'MRGN_SEC_OVDFT_PCT: #doubles.stripTrailingZeros(stockInstm.get(''mrgnSecOdPct''))',
    'AUCTN_TRD_IND: stockInstm.get(''suptAuctnTrdInd'')',
    'STOP_LOSS_MIN_PCT: #doubles.stripTrailingZeros(stockInstm.get(''stopLossMinPct''))',
    'STOP_LOSS_MAX_PCT: #doubles.stripTrailingZeros(stockInstm.get(''stopLossMaxPct''))',
    'SPRD_SPLS_MIN_CNT: #doubles.stripTrailingZeros(stockInstm.get(''sprdStopLossMinCnt''))',
    'SPRD_SPLS_MAX_CNT: #doubles.stripTrailingZeros(stockInstm.get(''sprdStopLossMaxCnt''))',
    'LOT_SIZE_NUM: #doubles.stripTrailingZeros(stockInstm.get(''prodBodLotQtyCnt''))',
    'SPRD_PRC_CCY: #doubles.stripDeciaml(stockInstm.get(''prcVarMinAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'SPRD_PRC_AMT: #doubles.stripDeciaml(stockInstm.get(''prcVarMinAmt''))',
    'SPRD_PRC_DP: #doubles.decimalPlace(stockInstm.get(''prcVarMinAmt''))',
    'OVDFT_SEC_PCT: #doubles.stripTrailingZeros(product.get(''loanProdOdMrgnPct''))',
    'EXCHG_CDE: stockInstm.get(''mktProdTrdCde'')',
    'MIP_IND: stockInstm.get(''suptMipInd'')',
    'INVST_MIP_MIN_CCY: #doubles.stripDeciaml(stockInstm.get(''invstMipMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'INVST_MIP_MIN_AMT: #doubles.stripDeciaml(stockInstm.get(''invstMipMinAmt''))',
    'INVST_MIP_MIN_DP: #doubles.decimalPlace(stockInstm.get(''invstMipMinAmt''))',
    'INVST_INCR_MIP_CCY: #doubles.stripDeciaml(stockInstm.get(''invstMipIncrmMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'INVST_INCR_MIP_AMT: #doubles.stripDeciaml(stockInstm.get(''invstMipIncrmMinAmt''))',
    'INVST_INCR_MIP_DP: #doubles.decimalPlace(stockInstm.get(''invstMipIncrmMinAmt''))',
    'PRFM_DT: #dates.format(performance?.get(''perfmCalcDt''), ''yyyyMMdd'')',
    'PRFM_YTD_PCT: #doubles.stripTrailingZeros(performance?.get(''perfmYrToDtPct''))',
    'PRFM_1MO_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm1MoPct''))',
    'PRFM_3MO_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm3MoPct''))',
    'PRFM_6MO_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm6MoPct''))',
    'PRFM_1YR_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm1YrPct''))',
    'PRFM_1YR_PCT_EXT: #doubles.stripTrailingZeros(performance?.get(''perfmExt1YrPct''))',
    'PRFM_3YR_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm3YrPct''))',
    'PRFM_5YR_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm5YrPct''))',
    'PRFM_SNC_LNCH_PCT: #doubles.stripTrailingZeros(performance?.get(''perfmSinceLnchPct''))',
    'VOLAT_1YR_PCT: #doubles.stripTrailingZeros(performance?.get(''rtrnVoltl1YrPct''))',
    'VOLAT_1YR_PCT_EXT: #doubles.stripTrailingZeros(performance?.get(''rtrnVoltlExt1YrPct''))',
    'VOLAT_3YR_PCT: #doubles.stripTrailingZeros(performance?.get(''rtrnVoltl3YrPct''))',
    'VOLAT_3YR_PCT_EXT: #doubles.stripTrailingZeros(performance?.get(''rtrnVoltlExt3YrPct''))'
)}
">
    <th:block th:replace="~{COMMON.html :: export (${secCsvInfos})}"/>
    <th:block th:if="${isLast}">
        TRAILERRISHFI_GENERAL_SECURITY_INTERFACE                    [(${#numbers.formatInteger(count,7)})]
    </th:block>
</th:block>
</html>
