<html lang="en" th:remove="tag">
<th:block th:if="${isFirst}">
     HEADERRISHFI_GENERAL_SID_INTERFACE                     [(${#dates.format(startTime,'yyyyMMddHHmmss')})]
</th:block>
<th:block th:with="sidCsvInfos=${#csvs.parse(
    'SPOMS_PROD_CDE: strucInvstDepst.get(''prodExtnlCde'')',
    'SPOMS_PROD_TYCD: strucInvstDepst.get(''prodExtnlTypeCde'')',
    'SPOMS_PROD_DESC: #refDatas.desc(''SPOMSPRODTYP'', strucInvstDepst.get(''prodExtnlTypeCde''))',
    'SPOMS_PROD_PLL_DESC: #refDatas.pllDesc(''SPOMSPRODTYP'', strucInvstDepst.get(''prodExtnlTypeCde''))',
    'SPOMS_PROD_SLL_DESC: #refDatas.sllDesc(''SPOMSPRODTYP'', strucInvstDepst.get(''prodExtnlTypeCde''))',
    'CONV_CDE: strucInvstDepst.get(''prodConvCde'')',
    'CONV_DESC: #refDatas.desc(''SIDCONVIND'', strucInvstDepst.get(''prodConvCde''))',
    'CONV_PLL_DESC: #refDatas.pllDesc(''SIDCONVIND'', strucInvstDepst.get(''prodConvCde''))',
    'CONV_SLL_DESC: #refDatas.sllDesc(''SIDCONVIND'', strucInvstDepst.get(''prodConvCde''))',
    'PRE_RTRN_INTRM_PCT: #doubles.stripTrailingZeros(strucInvstDepst.get(''rtrnIntrmPrevPct''))',
    'PRE_RTRN_DT: #dates.format(strucInvstDepst.get(''rtrnIntrmPaidPrevDt''), ''yyyyMMdd'')',
    'NXT_RTRN_DT: #dates.format(strucInvstDepst.get(''rtrnIntrmPaidNextDt''), ''yyyyMMdd'')',
    'RTRN_INTRM_PCT_1: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 0 ? strucInvstDepst.get(''intrmRtn'')?.get(0)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_2: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 1 ? strucInvstDepst.get(''intrmRtn'')?.get(1)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_3: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 2 ? strucInvstDepst.get(''intrmRtn'')?.get(2)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_4: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 3 ? strucInvstDepst.get(''intrmRtn'')?.get(3)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_5: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 4 ? strucInvstDepst.get(''intrmRtn'')?.get(4)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_6: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 5 ? strucInvstDepst.get(''intrmRtn'')?.get(5)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_7: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 6 ? strucInvstDepst.get(''intrmRtn'')?.get(6)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_8: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 7 ? strucInvstDepst.get(''intrmRtn'')?.get(7)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_9: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 8 ? strucInvstDepst.get(''intrmRtn'')?.get(8)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_10: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 9 ? strucInvstDepst.get(''intrmRtn'')?.get(9)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_11: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 10 ? strucInvstDepst.get(''intrmRtn'')?.get(10)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_12: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 11 ? strucInvstDepst.get(''intrmRtn'')?.get(11)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_13: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 12 ? strucInvstDepst.get(''intrmRtn'')?.get(12)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_14: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 13 ? strucInvstDepst.get(''intrmRtn'')?.get(13)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_15: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 14 ? strucInvstDepst.get(''intrmRtn'')?.get(14)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_16: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 15 ? strucInvstDepst.get(''intrmRtn'')?.get(15)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_17: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 16 ? strucInvstDepst.get(''intrmRtn'')?.get(16)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_18: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 17 ? strucInvstDepst.get(''intrmRtn'')?.get(17)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_19: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 18 ? strucInvstDepst.get(''intrmRtn'')?.get(18)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_20: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 19 ? strucInvstDepst.get(''intrmRtn'')?.get(19)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_21: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 20 ? strucInvstDepst.get(''intrmRtn'')?.get(20)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_22: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 21 ? strucInvstDepst.get(''intrmRtn'')?.get(21)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_23: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 22 ? strucInvstDepst.get(''intrmRtn'')?.get(22)?.get(''rtrnIntrmPct'') : null)',
    'RTRN_INTRM_PCT_24: #doubles.stripTrailingZeros(strucInvstDepst.get(''intrmRtn'')?.size() > 23 ? strucInvstDepst.get(''intrmRtn'')?.get(23)?.get(''rtrnIntrmPct'') : null)',
    'PYMT_INTRM_RTRN_DT_1: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 0 ? strucInvstDepst.get(''intrmRtn'')?.get(0)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_2: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 1 ? strucInvstDepst.get(''intrmRtn'')?.get(1)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_3: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 2 ? strucInvstDepst.get(''intrmRtn'')?.get(2)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_4: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 3 ? strucInvstDepst.get(''intrmRtn'')?.get(3)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_5: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 4 ? strucInvstDepst.get(''intrmRtn'')?.get(4)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_6: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 5 ? strucInvstDepst.get(''intrmRtn'')?.get(5)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_7: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 6 ? strucInvstDepst.get(''intrmRtn'')?.get(6)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_8: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 7 ? strucInvstDepst.get(''intrmRtn'')?.get(7)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_9: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 8 ? strucInvstDepst.get(''intrmRtn'')?.get(8)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_10: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 9 ? strucInvstDepst.get(''intrmRtn'')?.get(9)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_11: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 10 ? strucInvstDepst.get(''intrmRtn'')?.get(10)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_12: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 11 ? strucInvstDepst.get(''intrmRtn'')?.get(11)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_13: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 12 ? strucInvstDepst.get(''intrmRtn'')?.get(12)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_14: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 13 ? strucInvstDepst.get(''intrmRtn'')?.get(13)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_15: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 14 ? strucInvstDepst.get(''intrmRtn'')?.get(14)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_16: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 15 ? strucInvstDepst.get(''intrmRtn'')?.get(15)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_17: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 16 ? strucInvstDepst.get(''intrmRtn'')?.get(16)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_18: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 17 ? strucInvstDepst.get(''intrmRtn'')?.get(17)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_19: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 18 ? strucInvstDepst.get(''intrmRtn'')?.get(18)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_20: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 19 ? strucInvstDepst.get(''intrmRtn'')?.get(18)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_21: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 20 ? strucInvstDepst.get(''intrmRtn'')?.get(20)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_22: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 21 ? strucInvstDepst.get(''intrmRtn'')?.get(21)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_23: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 22 ? strucInvstDepst.get(''intrmRtn'')?.get(22)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'PYMT_INTRM_RTRN_DT_24: #dates.format(strucInvstDepst.get(''intrmRtn'')?.size() > 23 ? strucInvstDepst.get(''intrmRtn'')?.get(23)?.get(''rtrnIntrmPaidDt'') : null, ''yyyyMMdd'')',
    'CRNCY_LINK_CDE: strucInvstDepst.get(''ccyLinkDepstCde'')',
    'PRD_MKT_START_DT: #dates.format(strucInvstDepst.get(''mktStartDt''), ''yyyyMMdd'')',
    'PRD_MKT_END_DT: #dates.format(strucInvstDepst.get(''mktEndDt''), ''yyyyMMdd'')',
    'INVST_INIT_MIN_CCY: product.get(''ccyInvstCde'')',
    'INVST_INIT_MIN_AMT: #doubles.stripDeciaml(product.get(''invstInitMinAmt''))',
    'INVST_INIT_MIN_DP: #doubles.decimalPlace(product.get(''invstInitMinAmt''))',
    'YLD_ANNL_MIN_PCT: #doubles.stripTrailingZeros(strucInvstDepst.get(''yieldAnnlMinPct''))',
    'YLD_ANNL_POTEN_PCT: #doubles.stripTrailingZeros(strucInvstDepst.get(''yieldAnnlPotenPct''))',
    'ASET_TEXT: product.get(''asetText'')',
    'ALLOW_ERDM_IND: strucInvstDepst.get(''allowEarlyRdmInd'')',
    'PRD_ERDM_DALW_TEXT: strucInvstDepst.get(''rdmEarlyDalwText'')',
    'ERDM_PCT: #doubles.stripTrailingZeros(strucInvstDepst.get(''prcEarlyRdmPct''))',
    'ERDM_IND_AMT: #doubles.stripTrailingZeros(strucInvstDepst.get(''rdmEarlyIndAmt''))',
    'OFFER_TYPE_CDE: strucInvstDepst.get(''offerTypeCde'')',
    'OFFER_TYPE_DESC: #refDatas.desc(''OFFERTYP'', strucInvstDepst.get(''offerTypeCde''))',
    'OFFER_TYPE_PLL_DESC: #refDatas.pllDesc(''OFFERTYP'', strucInvstDepst.get(''offerTypeCde''))',
    'OFFER_TYPE_SLL_DESC: #refDatas.sllDesc(''OFFERTYP'', strucInvstDepst.get(''offerTypeCde''))',
    'CUST_QUOT_SELL_CNT: strucInvstDepst.get(''custSellQtaNum'') != null ? #doublers.stripTrailingZeros(strucInvstDepst.get(''custSellQtaNum'')) : ''''',
    'QUOT_RULE_TYPE_CDE: strucInvstDepst.get(''ruleQtaAltmtCde'')',
    'QUOT_RULE_TYPE_DESC: #refDatas.desc(''QUALRULTYP'', strucInvstDepst.get(''ruleQtaAltmtCde''))',
    'QUOT_RULE_TYPE_PLL_DESC: #refDatas.pllDesc(''QUALRULTYP'', strucInvstDepst.get(''ruleQtaAltmtCde''))',
    'QUOT_RULE_TYPE_SLL_DESC: #refDatas.sllDesc(''QUALRULTYP'', strucInvstDepst.get(''ruleQtaAltmtCde''))',
    'OVDFT_SEC_PCT: #doubles.stripTrailingZeros(product.get(''loanProdOdMrgnPct''))',
    'BONUS_RATE_TYPE: strucInvstDepst.get(''bonusIntCalcTypeCde'')',
    'BONUS_RATE_TYPE_DESC: #refDatas.desc(''BONUSRTTYP'', strucInvstDepst.get(''bonusIntCalcTypeCde''))',
    'BONUS_RATE_TYPE_PLL_DESC: #refDatas.pllDesc(''BONUSRTTYP'', strucInvstDepst.get(''bonusIntCalcTypeCde''))',
    'BONUS_RATE_TYPE_SLL_DESC: #refDatas.sllDesc(''BONUSRTTYP'', strucInvstDepst.get(''bonusIntCalcTypeCde''))',
    'BONUS_DATE_TYPE: strucInvstDepst.get(''bonusIntDtTypeCde'')',
    'BONUS_DATE_TYPE_DESC: #refDatas.desc(''BONUSDTTYP'', strucInvstDepst.get(''bonusIntDtTypeCde''))',
    'BONUS_DATE_TYPE_PLL_DESC: #refDatas.pllDesc(''BONUSDTTYP'', strucInvstDepst.get(''bonusIntDtTypeCde''))',
    'BONUS_DATE_TYPE_SLL_DESC: #refDatas.sllDesc(''BONUSDTTYP'', strucInvstDepst.get(''bonusIntDtTypeCde''))',
    'CPT_PRT_PCT: #doubles.stripTrailingZeros(strucInvstDepst.get(''cptlProtcPct''))',
    'LAUNCH_STUS: strucInvstDepst.get(''lnchProdInd'')',
    'SPOMS_PROD: strucInvstDepst.get(''rtrvProdExtnlInd'')'
)}
">
<th:block th:replace="~{COMMON.html :: export (${sidCsvInfos})}"/>
<th:block th:if="${isLast}">
     TRAILERRISHFI_GENERAL_SID_INTERFACE                     [(${#numbers.formatInteger(count,7)})]
</th:block>
</th:block>
</html>
