<html lang="en" th:remove="tag">
<th:block th:if="${isFirst}">
        HEADERRISHFI_GENERAL_UT_INTERFACE                   [(${#dates.format(startTime,'yyyyMMddHHmmss')})]
</th:block>
<th:block th:with="utCsvInfos=${#csvs.parse(
    'FUND_HOUSE_CDE: utTrstInstm.get(''fundHouseCde'')',
    'FUND_HOUSE_DESC: #refDatas.desc(''FH'', utTrstInstm.get(''fundHouseCde''))',
    'FUND_HOUSE_PLL_DESC: #refDatas.pllDesc(''FH'', utTrstInstm.get(''fundHouseCde''))',
    'FUND_HOUSE_SLL_DESC: #refDatas.sllDesc(''FH'', utTrstInstm.get(''fundHouseCde''))',
    'CLOSE_END_FLAG: utTrstInstm.get(''closeEndFundInd'')',
    'PRC_EFF_DT: #dates.format(product.get(''prcEffDt''), ''yyyyMMdd'')',
    'CRNCY_DLY_PRC_CDE: product.get(''ccyProdMktPrcCde'')',
    'BID_DLY_PRC_CCY: #doubles.stripDeciaml(product.get(''prodBidPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'BID_DLY_PRC_AMT: #doubles.stripDeciaml(product.get(''prodBidPrcAmt''))',
    'BID_DLY_PRC_DP: #doubles.decimalPlace(product.get(''prodBidPrcAmt''))',
    'OFFER_DLY_PRC_CCY: #doubles.stripDeciaml(product.get(''prodOffrPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'OFFER_DLY_PRC_AMT: #doubles.stripDeciaml(product.get(''prodOffrPrcAmt''))',
    'OFFER_DLY_PRC_DP: #doubles.decimalPlace(product.get(''prodOffrPrcAmt''))',
    'NAV_DLY_PRC_CCY: #doubles.stripDeciaml(product.get(''prodNavPrcAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'NAV_DLY_PRC_AMT: #doubles.stripDeciaml(product.get(''prodNavPrcAmt''))',
    'NAV_DLY_PRC_DP: #doubles.decimalPlace(product.get(''prodNavPrcAmt''))',
    'PRFM_YTD_PCT: #doubles.stripTrailingZeros(performance?.get(''perfmYrToDtPct''))',
    'PRFM_6MO_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm6MoPct''))',
    'PRFM_1YR_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm1YrPct''))',
    'PRFM_3YR_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm3YrPct''))',
    'PRFM_5YR_PCT: #doubles.stripTrailingZeros(performance?.get(''perfm5YrPct''))',
    'PRFM_SNC_LNCH_PCT: #doubles.stripTrailingZeros(performance?.get(''perfmSinceLnchPct''))',
    'PERFM_CALC_DT: #dates.format(performance?.get(''perfmCalcDt''), ''yyyyMMdd'')',
    'UNIT_PRC_LNCH_CCY: #doubles.stripDeciaml(utTrstInstm.get(''utPrcProdLnchAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'UNIT_PRC_LNCH_AMT: #doubles.stripDeciaml(utTrstInstm.get(''utPrcProdLnchAmt''))',
    'UNIT_PRC_LNCH_DP: #doubles.decimalPlace(utTrstInstm.get(''utPrcProdLnchAmt''))',
    'FUND_AMT_CCY: #doubles.stripDeciaml(utTrstInstm.get(''fundAmt'')) == null ? '''' : product.get(''ccyProdMktPrcCde'')',
    'FUND_AMT: #doubles.stripDeciaml(utTrstInstm.get(''fundAmt''))',
    'FUND_AMT_DP: #doubles.decimalPlace(utTrstInstm.get(''fundAmt''))',
    'INVST_INIT_MIN_CCY: #doubles.stripDeciaml(product.get(''invstInitMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'INVST_INIT_MIN_AMT: #doubles.stripDeciaml(product.get(''invstInitMinAmt''))',
    'INVST_INIT_MIN_DP: #doubles.decimalPlace(product.get(''invstInitMinAmt''))',
    'INVST_ICT_MIN_CCY: #doubles.stripDeciaml(utTrstInstm.get(''invstIncrmMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'INVST_ICT_MIN_AMT:  #doubles.stripDeciaml(utTrstInstm.get(''invstIncrmMinAmt''))',
    'INVST_ICT_MIN_DP: #doubles.decimalPlace(utTrstInstm.get(''invstIncrmMinAmt''))',
    'UNIT_RDEEM_MIN_NUM: #doubles.stripTrailingZeros(utTrstInstm.get(''utRdmMinNum''))',
    'RDEM_MIN_CCY: #doubles.stripDeciaml(utTrstInstm.get(''rdmMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'RDEM_MIN_AMT: #doubles.stripDeciaml(utTrstInstm.get(''rdmMinAmt''))',
    'RDEM_MIN_DP: #doubles.decimalPlace(utTrstInstm.get(''rdmMinAmt''))',
    'UNIT_ARDM_MIN_NUM: utTrstInstm.get(''utRtainMinNum'')',
    'FUND_ARDM_MIN_CCY: #doubles.stripDeciaml(utTrstInstm.get(''fundRtainMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'FUND_ARDM_MIN_AMT: #doubles.stripDeciaml(utTrstInstm.get(''fundRtainMinAmt''))',
    'FUND_ARDM_MIN_DP: #doubles.decimalPlace(utTrstInstm.get(''fundRtainMinAmt''))',
    'BCHMK_NAME: product.get(''bchmkName'')',
    'BCHMK_PLL_NM: product.get(''bchmkPllName'')',
    'BCHMK_SLL_NM: product.get(''bchmkSllName'')',
    'BCHMK_YTD_PCT: #doubles.stripTrailingZeros(benchmark?.get(''perfmYrToDtPct''))',
    'BCHMK_6MO_PCT: #doubles.stripTrailingZeros(benchmark?.get(''perfm6MoPct''))',
    'BCHMK_1YR_PCT: #doubles.stripTrailingZeros(benchmark?.get(''perfm1YrPct''))',
    'BCHMK_3YR_PCT: #doubles.stripTrailingZeros(benchmark?.get(''perfm3YrPct''))',
    'BCHMK_5YR_PCT: #doubles.stripTrailingZeros(benchmark?.get(''perfm5YrPct''))',
    'BCHMK_SNC_LNCH_PCT: #doubles.stripTrailingZeros(benchmark?.get(''perfmSinceLnchPct''))',
    'BCHMK_DT: #dates.format(benchmark?.get(''perfmCalcDt''), ''yyyyMMdd'')',
    'MIP_IND: utTrstInstm.get(''suptMipInd'')',
    'INVST_MIP_MIN_CCY: #doubles.stripDeciaml(utTrstInstm.get(''invstMipMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'INVST_MIP_MIN_AMT: #doubles.stripDeciaml(utTrstInstm.get(''invstMipMinAmt''))',
    'INVST_MIP_MIN_DP: #doubles.decimalPlace(utTrstInstm.get(''invstMipMinAmt''))',
    'INVST_INCR_MIP_CCY: #doubles.stripDeciaml(utTrstInstm.get(''invstMipIncrmMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'INVST_INCR_MIP_AMT: #doubles.stripDeciaml(utTrstInstm.get(''invstMipIncrmMinAmt''))',
    'INVST_INCR_MIP_DP: #doubles.decimalPlace(utTrstInstm.get(''invstMipIncrmMinAmt''))',
    'UT_MIP_RDM_MIN_NUM: utTrstInstm.get(''utMipRdmMinNum'')',
    'FN_MIP_RDM_MIN_CCY: #doubles.stripDeciaml(utTrstInstm.get(''rdmMipMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'FN_MIP_RDM_MIN_AMT: #doubles.stripDeciaml(utTrstInstm.get(''rdmMipMinAmt''))',
    'FN_MIP_RDM_MIN_DP: #doubles.decimalPlace(utTrstInstm.get(''rdmMipMinAmt''))',
    'UT_MIP_ARD_MIN_NUM: utTrstInstm.get(''utMipRtainMinNum'')',
    'UT_MIP_ARD_MIN_CCY: #doubles.stripDeciaml(utTrstInstm.get(''fundMipRtainMinAmt'')) == null ? '''' : product.get(''ccyInvstCde'')',
    'UT_MIP_ARD_MIN_AMT: #doubles.stripDeciaml(utTrstInstm.get(''fundMipRtainMinAmt''))',
    'UT_MIP_ARD_MIN_DP: #doubles.decimalPlace(utTrstInstm.get(''fundMipRtainMinAmt''))',
    'RTRN_GURNT_PCT: #doubles.stripTrailingZeros(utTrstInstm.get(''rtrnGurntPct''))',
    'CHRG_INIT_PCT: #doubles.stripTrailingZeros(utTrstInstm.get(''chrgInitSalesPct''))',
    'CHRG_SW_PCT: #doubles.stripTrailingZeros(utTrstInstm.get(''chrgFundSwPct''))',
    'DSCNT_MAX_PCT: #doubles.stripTrailingZeros(utTrstInstm.get(''dscntMaxPct''))',
    'OFFER_START_DT: #dates.format(utTrstInstm.get(''offerStartDtTm''), ''yyyyMMdd'')',
    'OFFER_START_TM: #dates.format(utTrstInstm.get(''offerStartDtTm''), ''hhmmss'')',
    'OFFER_END_DT: #dates.format(utTrstInstm.get(''offerEndDtTm''), ''yyyyMMdd'')',
    'OFFER_END_TM: #dates.format(utTrstInstm.get(''offerEndDtTm''), ''hhmmss'')',
    'PAY_CASH_DIV: utTrstInstm.get(''payCashDivInd'')',
    'NXT_HLDAY_DT: #dates.format(utTrstInstm.get(''hldayFundNextDt''), ''yyyyMMdd'')',
    'DEAL_CTOFF_TM: ''''',
    'NXT_SCRIB_CTOFF_DT: #dates.format(utTrstInstm.get(''scribCtoffNextDtTm''), ''yyyyMMdd'')',
    'NXT_RDEM_CTOFF_DT: #dates.format(utTrstInstm.get(''rdmCtoffNextDtTm''), ''yyyyMMdd'')',
    'NAV_CALC_DT: ''''',
    'ASET_TEXT: utTrstInstm.get(''asetText'')',
    'OVDFT_SEC_PCT: #doubles.stripTrailingZeros(utTrstInstm.get(''loanProdOdMrgnPct''))',
    'FUND_EXT_CDE: #products.prodAltNum(product, ''F'')',
    'TRADE_FIRST_DT: #dates.format(utTrstInstm.get(''trdFirstDt''), ''yyyyMMdd'')',
    'DEAL_NEXT_DT: #dates.format(utTrstInstm.get(''dealNextDt''), ''yyyyMMdd'')',
    'FUND_CTOFF_NEXT_DT: ''''',
    'FUND_CLASS_CDE: utTrstInstm.get(''fundClassCde'')',
    'AMCM_IND: utTrstInstm.get(''amcmInd'')',
    'DIV_DECL_DT: #dates.format(utTrstInstm.get(''divDclrDt''), ''yyyyMMdd'')',
    'DIV_PAY_DT: #dates.format(utTrstInstm.get(''divPymtDt''), ''yyyyMMdd'')',
    'AUTO_SWEEP: utTrstInstm.get(''autoSweepFundInd'')',
    'SPEC_FUND_IND: utTrstInstm.get(''spclFundInd'')',
    'CANT_SWTCH_TO_1: utTrstInstm.get(''sw'')?.size() > 0 ? utTrstInstm.get(''sw'')?.get(0)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_2: utTrstInstm.get(''sw'')?.size() > 1 ? utTrstInstm.get(''sw'')?.get(1)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_3: utTrstInstm.get(''sw'')?.size() > 2 ? utTrstInstm.get(''sw'')?.get(2)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_4: utTrstInstm.get(''sw'')?.size() > 3 ? utTrstInstm.get(''sw'')?.get(3)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_5: utTrstInstm.get(''sw'')?.size() > 4 ? utTrstInstm.get(''sw'')?.get(4)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_6: utTrstInstm.get(''sw'')?.size() > 5 ? utTrstInstm.get(''sw'')?.get(5)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_7: utTrstInstm.get(''sw'')?.size() > 6 ? utTrstInstm.get(''sw'')?.get(6)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_8: utTrstInstm.get(''sw'')?.size() > 7 ? utTrstInstm.get(''sw'')?.get(7)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_9: utTrstInstm.get(''sw'')?.size() > 8 ? utTrstInstm.get(''sw'')?.get(8)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_10: utTrstInstm.get(''sw'')?.size() > 9 ? utTrstInstm.get(''sw'')?.get(9)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_11: utTrstInstm.get(''sw'')?.size() > 10 ? utTrstInstm.get(''sw'')?.get(10)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_12: utTrstInstm.get(''sw'')?.size() > 11 ? utTrstInstm.get(''sw'')?.get(11)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_13: utTrstInstm.get(''sw'')?.size() > 12 ? utTrstInstm.get(''sw'')?.get(12)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_14: utTrstInstm.get(''sw'')?.size() > 13 ? utTrstInstm.get(''sw'')?.get(13)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_15: utTrstInstm.get(''sw'')?.size() > 14 ? utTrstInstm.get(''sw'')?.get(14)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_16: utTrstInstm.get(''sw'')?.size() > 15 ? utTrstInstm.get(''sw'')?.get(15)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_17: utTrstInstm.get(''sw'')?.size() > 16 ? utTrstInstm.get(''sw'')?.get(16)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_18: utTrstInstm.get(''sw'')?.size() > 17 ? utTrstInstm.get(''sw'')?.get(17)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_19: utTrstInstm.get(''sw'')?.size() > 18 ? utTrstInstm.get(''sw'')?.get(18)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_20: utTrstInstm.get(''sw'')?.size() > 19 ? utTrstInstm.get(''sw'')?.get(19)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_21: utTrstInstm.get(''sw'')?.size() > 20 ? utTrstInstm.get(''sw'')?.get(20)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_22: utTrstInstm.get(''sw'')?.size() > 21 ? utTrstInstm.get(''sw'')?.get(21)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_23: utTrstInstm.get(''sw'')?.size() > 22 ? utTrstInstm.get(''sw'')?.get(22)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_24: utTrstInstm.get(''sw'')?.size() > 23 ? utTrstInstm.get(''sw'')?.get(23)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_25: utTrstInstm.get(''sw'')?.size() > 24 ? utTrstInstm.get(''sw'')?.get(24)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_26: utTrstInstm.get(''sw'')?.size() > 25 ? utTrstInstm.get(''sw'')?.get(25)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_27: utTrstInstm.get(''sw'')?.size() > 26 ? utTrstInstm.get(''sw'')?.get(26)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_28: utTrstInstm.get(''sw'')?.size() > 27 ? utTrstInstm.get(''sw'')?.get(27)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_29: utTrstInstm.get(''sw'')?.size() > 28 ? utTrstInstm.get(''sw'')?.get(28)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_30: utTrstInstm.get(''sw'')?.size() > 29 ? utTrstInstm.get(''sw'')?.get(29)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_31: utTrstInstm.get(''sw'')?.size() > 30 ? utTrstInstm.get(''sw'')?.get(30)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_32: utTrstInstm.get(''sw'')?.size() > 31 ? utTrstInstm.get(''sw'')?.get(31)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_33: utTrstInstm.get(''sw'')?.size() > 32 ? utTrstInstm.get(''sw'')?.get(32)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_34: utTrstInstm.get(''sw'')?.size() > 33 ? utTrstInstm.get(''sw'')?.get(33)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_35: utTrstInstm.get(''sw'')?.size() > 34 ? utTrstInstm.get(''sw'')?.get(34)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_36: utTrstInstm.get(''sw'')?.size() > 35 ? utTrstInstm.get(''sw'')?.get(35)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_37: utTrstInstm.get(''sw'')?.size() > 36 ? utTrstInstm.get(''sw'')?.get(36)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_38: utTrstInstm.get(''sw'')?.size() > 37 ? utTrstInstm.get(''sw'')?.get(37)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_39: utTrstInstm.get(''sw'')?.size() > 38 ? utTrstInstm.get(''sw'')?.get(38)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_40: utTrstInstm.get(''sw'')?.size() > 39 ? utTrstInstm.get(''sw'')?.get(39)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_41: utTrstInstm.get(''sw'')?.size() > 40 ? utTrstInstm.get(''sw'')?.get(40)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_42: utTrstInstm.get(''sw'')?.size() > 41 ? utTrstInstm.get(''sw'')?.get(41)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_43: utTrstInstm.get(''sw'')?.size() > 42 ? utTrstInstm.get(''sw'')?.get(42)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_44: utTrstInstm.get(''sw'')?.size() > 43 ? utTrstInstm.get(''sw'')?.get(43)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_45: utTrstInstm.get(''sw'')?.size() > 44 ? utTrstInstm.get(''sw'')?.get(44)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_46: utTrstInstm.get(''sw'')?.size() > 45 ? utTrstInstm.get(''sw'')?.get(45)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_47: utTrstInstm.get(''sw'')?.size() > 46 ? utTrstInstm.get(''sw'')?.get(46)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_48: utTrstInstm.get(''sw'')?.size() > 47 ? utTrstInstm.get(''sw'')?.get(47)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_49: utTrstInstm.get(''sw'')?.size() > 48 ? utTrstInstm.get(''sw'')?.get(48)?.get(''fundUnswCde'') : ''''',
    'CANT_SWTCH_TO_50: utTrstInstm.get(''sw'')?.size() > 49 ? utTrstInstm.get(''sw'')?.get(49)?.get(''fundUnswCde'') : ''''',
    'INS_LINKED_IND: utTrstInstm.get(''insuLinkUtTrstInd'')')}
">
    <th:block th:replace="~{COMMON.html :: export (${utCsvInfos})}"/>
    <th:block th:if="${isLast}">
        TRAILERRISHFI_GENERAL_UT_INTERFACE                  [(${#numbers.formatInteger(count,7)})]
    </th:block>
</th:block>
</html>
