<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- <mvc:annotation-driven /> -->
	<!-- <mvc:default-servlet-handler /> -->

	<!-- <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="contentType" value="text/html; charset=utf-8" />
		<property name="order" value="0" />
	</bean> -->

	<beans profile="!prod">
		<!-- @Value("#{systemConfig[name]}") -->
		<bean id="systemConfig"
			class="org.springframework.beans.factory.config.PropertiesFactoryBean">
			<property name="locations">
				<list>
					<!-- local config -->
					<value>classpath:system/appConfig.properties</value>
					<value>classpath:system/common/dashboard/dashboard.properties</value>
					<!-- <value>classpath:system/fund/integration.properties</value> -->
					<value>classpath:system/predsrch/predsrch.properties</value>
					<value>classpath:system/predsrch/volumeServiceConfig.properties
					</value>
					<!-- common config -->
					<value>classpath:system/common/config.properties</value>
					<value>classpath:system/common/dashboard/dashboardKey.properties</value>
					<!-- <value>classpath:system/fund/mstarData.properties</value> -->
					<value>classpath:system/predsrch/predsrchConfig.properties</value>
				</list>
			</property>
			<property name="fileEncoding" value="UTF-8"></property>
		</bean>

		<bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="ignoreResourceNotFound" value="false" />
			<property name="properties" ref="systemConfig" />
		</bean>
	</beans>
	
	<beans profile="prod">
		<!-- @Value("#{systemConfig[name]}") -->
		<bean id="systemConfig"
			class="org.springframework.beans.factory.config.PropertiesFactoryBean">
			<property name="locations">
				<list>
					<!-- local config -->
					<value>classpath:system/appConfig.properties</value>
					<value>classpath:system/common/dashboard/dashboard.properties</value>
					<!-- <value>classpath:system/fund/integration.properties</value> -->
					<value>classpath:system/predsrch/predsrch.properties</value>
					<value>classpath:system/predsrch/volumeServiceConfig-prod.properties
					</value>
					<!-- common config -->
					<value>classpath:system/common/config.properties</value>
					<value>classpath:system/common/dashboard/dashboardKey.properties</value>
					<!-- <value>classpath:system/fund/mstarData.properties</value> -->
					<value>classpath:system/predsrch/predsrchConfig.properties</value>
				</list>
			</property>
			<property name="fileEncoding" value="UTF-8"></property>
		</bean>

		<bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="ignoreResourceNotFound" value="false" />
			<property name="properties" ref="systemConfig" />
		</bean>
	</beans>

</beans> 